{% extends "pages/_template.statecharts.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block contentBlock %}
  <h1 class="c-h1 my-base">Ejemplo de Xstate machine</h1>
  <section id="states" class="c-states c-states--step1">
    <article id="step1" class="hidden">
      <h2 class="c-h2 mb-base">Paso 1</h2>
      <p class="c-paragraph-base">Este es el paso 1</p>
      <form name="form-1" onSubmit="form1Submit(); return false;">
        {{ componentCheckboxes({
          "idPrefix": "accept-terms",
          "name": "accept-terms",
          "items": [
            {
              "value": "yes",
              "text": "Acepto los términos y condiciones"
            }
          ]
        })  }}
        {{ componentButton({
          "text": "Continuar",
          "classes": "c-button--primary",
          "type": "submit"
        })  }}
      </form>
      <script>

      </script>
    </article>
    <article id="step1error" class="hidden">
      <h2 class="c-h2 mb-base">Paso 1</h2>
      <p class="c-paragraph-base">Este es el paso 1</p>
      <form name="form-1-error" onSubmit="form1ErrorSubmit(); return false;">
        {{ componentCheckboxes({
          "idPrefix": "accept-terms",
          "name": "accept-terms",
          "errorMessage": {
            "text": "Error: Por favor, acepta los términos y condiciones"
          },
          "items": [
            {
              "value": "yes",
              "text": "Acepto los términos y condiciones"
            }
          ]
        })  }}
        {{ componentButton({
          "text": "Continuar",
          "classes": "c-button--primary",
          "type": "submit"
        })  }}
      </form>
      <script>

      </script>
    </article>
    <article id="step2" class="hidden">
      <h2 class="c-h2 mb-base">Paso 2</h2>
      <p class="c-paragraph-base">Este es el segundo paso</p>
      <form name="form-2" onSubmit="return form2Submit()">
        {{ componentRadios({
          "idPrefix": "default",
          "name": "default",
          "fieldset": {
            "legend": {
              "text": "Selecciona una opción"
            }
          },
          "hint": {
            "text": "Tu selección te llevará a una o a otra página."
          },
          "items": [
            {
              "value": "step3",
              "text": "Ir al paso 3"
            },
            {
              "value": "step4",
              "text": "Ir al paso 4",
              "checked": true
            }
          ]
        })  }}
        {{ componentButton({
          "text": "Continuar",
          "classes": "c-button--primary",
          "type": "submit"
        })  }}
      </form>
      <script>

      </script>
    </article>
    <article id="step3" class="hidden">
      <h2 class="c-h2">Paso 3</h2>
      <p class="c-paragraph-base">Este es el tercer paso</p>
      <button type="button" class="c-button c-button--primary" name="logout" onclick="lightService.send('GOTOSTEP1'); lightService.send('START');">Reiniciar</button>
    </article>
    <article id="step4" class="hidden">
      <h2 class="c-h2">Paso 4</h2>
      <p class="c-paragraph-base">Este es el último paso</p>
      <button type="button" class="c-button c-button--primary" name="restart" onclick="lightService.send('GOTOSTEP1'); lightService.send('START');">Reiniciar</button>
    </article>
  </section>
  <script>
    window.onload = function() {
      // states, actions and transitions with XState: https://xstate.js.org/docs/
      // visualize here: https://xstate.js.org/viz/ (copy-paste the Machine object in the visualizer)

      const { Machine, actions, interpret } = XState; // global variable: window.XState

      lightMachine = Machine({
        id: 'statechart-example',
        type: 'parallel',
        states: {
          statechartExample: {
            initial: 'step1',
            states: {
              step1: {
                on: {
                  GOTOSTEP2: 'step2',
                  GOTOSTEP1ERROR: 'step1error'
                }
              },
              step1error: {
                on: {
                  GOTOSTEP2: 'step2',
                  GOTOSTEP1ERROR: 'step1error'
                }
              },
              step2: {
                on: {
                  GOTOSTEP3: 'step3',
                  GOTOSTEP4: 'step4'
                }
              },
              step3: {
                on: {
                  GOTOSTEP1: 'step1'
                }
              },
              step4: {
                on: {
                  GOTOSTEP1: 'step1'
                }
              }
            }
          },
          animation: {
            initial: 'idle',
            states: {
              idle: {
                on: {
                  START: 'transitioning'
                }
              },
              transitioning: {
                after: {
                  0: 'idle' // transition to 'idle'
                }
              }
            }
          }
        }
      });

      lightService = interpret(lightMachine);

      lightService.onTransition(state => {
        if (state.changed) {
          // remove all classes and apply current state class
          $('#states').removeClass().addClass(' c-states c-states--' + state.value.statechartExample);
          // avoid clicks on buttons while transitioning
          if(state.value.animation=='transitioning') {
            $('#states').removeClass('pointer-events-auto').addClass('pointer-events-none');
            $('.c-button').addClass('c-button--disabled');
          } else {
            $('#states').removeClass('pointer-events-none').addClass('pointer-events-auto');
            $('.c-button').removeClass('c-button--disabled');
          }
        }
      });

      // Start the service
      lightService.start();

      // Look at the dependency: https://xstate.js.org/

      form1Submit = function() {
        const checkedValue = document.querySelector('form[name="form-1"] input').checked;
        if (checkedValue == true) {
          lightService.send('GOTOSTEP2');
        } else {
          lightService.send('GOTOSTEP1ERROR');
        }
        lightService.send('START');
        return false;
      }

      form1ErrorSubmit = function() {
        const checkedValue = document.querySelector('form[name="form-1-error"] input').checked;
        if (checkedValue == true) {
          lightService.send('GOTOSTEP2');
        } else {
          lightService.send('GOTOSTEP1ERROR');
        }
        lightService.send('START');
        return false;
      }

      form2Submit = function() {
        const checkedValue = document.querySelector('form[name="form-2"] input:checked').value;
        if (checkedValue == 'step3') {
          lightService.send('GOTOSTEP3');
        } else if (checkedValue == 'step4'){
          lightService.send('GOTOSTEP4');
        }
        lightService.send('START');
        return false;
      }
    }
  </script>
{% endblock %}