<div class="grid grid-cols-8 gap-5 mb-sm">
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-black text-white"><div class="self-center text-center w-full">black</div></div>
  </div>
  <div class="flex col-span-2">
    <div class="self-center text-sm">
      Focus <br>
      Aviso de precaución <br>
      En espera
    </div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-neutral-lighter text-black"><div class="self-center text-center w-full">neutral-lighter <br><br>#f6f6f5</div></div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-neutral-light text-black"><div class="self-center text-center w-full">neutral-light <br><br>#ededec</div></div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-neutral-base text-black"><div class="self-center text-center w-full">neutral-base <br><br>#b5b6b9</div></div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-neutral-dark text-white"><div class="self-center text-center w-full">neutral-dark <br><br>#5e616b</div></div>
  </div>
  <div class="pb-full relative rounded overflow-hidden">
    <div class="absolute flex inset-0 bg-black text-white"><div class="self-center text-center w-full">black <br><br>#1f2331</div></div>
  </div>
</div>