/* ==========================================================================
   custom.css
   ========================================================================== */

@layer components {
  .c-states--step1 {
    #step1 {
      @apply block;
    }
  }

  .c-states--step1error {
    #step1error {
      @apply block;
    }
  }

  .c-states--step2 {
    #step2 {
      @apply block;
    }
  }

  .c-states--step3 {
    #step3 {
      @apply block;
    }
  }

  .c-states--step4 {
    #step4 {
      @apply block;
    }
  }
}