<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title if title else "Project title" }}</title>
  <link rel="icon" type="image/x-icon" href="https://aplicaciones.aragon.es/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <style>
    /* PrismJS 1.15.0
    https://prismjs.com/download.html#themes=prism-coy&languages=markup+css+clike+javascript+java+kotlin+markdown+swift&plugins=toolbar+show-language+copy-to-clipboard */
    /**
     * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
     * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
     * @author Tim  Shedor
     */


    code[class*="language-"],
    pre[class*="language-"] {
      color: black;
      background: none;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none; }

    /* Code blocks */
    pre[class*="language-"] {
      position: relative;
      margin: .5em 0;
      overflow: visible;
      padding: 0; }

    pre[class*="language-"] > code {
      position: relative;
      border-left: 10px solid #358ccb;
      -webkit-box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
      box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
      background-color: #fdfdfd;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, rgba(69, 142, 209, 0.04)));
      background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
      background-size: 3em 3em;
      background-origin: content-box;
      background-attachment: local; }

    code[class*="language"] {
      max-height: inherit;
      height: inherit;
      padding: 0 1em;
      display: block;
      overflow: auto; }

    /* Margin bottom to accommodate shadow */
    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
      background-color: #fdfdfd;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 1em; }

    /* Inline code */
    :not(pre) > code[class*="language-"] {
      position: relative;
      padding: .2em;
      border-radius: 0.3em;
      color: #c92c2c;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: inline;
      white-space: normal; }

    pre[class*="language-"]:before,
    pre[class*="language-"]:after {
      content: '';
      z-index: -2;
      display: block;
      position: absolute;
      bottom: 0.75em;
      left: 0.18em;
      width: 40%;
      height: 20%;
      max-height: 13em;
      -webkit-box-shadow: 0px 13px 8px #979797;
      box-shadow: 0px 13px 8px #979797;
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg); }

    :not(pre) > code[class*="language-"]:after,
    pre[class*="language-"]:after {
      right: 0.75em;
      left: auto;
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg); }

    .token.comment,
    .token.block-comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #7D8B99; }

    .token.punctuation {
      color: #5F6364; }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.function-name,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: #c92c2c; }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.function,
    .token.builtin,
    .token.inserted {
      color: #2f9c0a; }

    .token.operator,
    .token.entity,
    .token.url,
    .token.variable {
      color: #a67f59;
      background: rgba(255, 255, 255, 0.5); }

    .token.atrule,
    .token.attr-value,
    .token.keyword,
    .token.class-name {
      color: #1990b8; }

    .token.regex,
    .token.important {
      color: #e90; }

    .language-css .token.string,
    .style .token.string {
      color: #a67f59; }

    .token.important {
      font-weight: normal; }

    .token.bold {
      font-weight: bold; }

    .token.italic {
      font-style: italic; }

    .token.entity {
      cursor: help; }

    .namespace {
      opacity: .7; }

    @media screen and (max-width: 767px) {
      pre[class*="language-"]:before,
      pre[class*="language-"]:after {
        bottom: 14px;
        -webkit-box-shadow: none;
        box-shadow: none; } }

    /* Plugin styles */
    .token.tab:not(:empty):before,
    .token.cr:before,
    .token.lf:before {
      color: #e0d7d1; }

    /* Plugin styles: Line Numbers */
    pre[class*="language-"].line-numbers.line-numbers {
      padding-left: 0; }

    pre[class*="language-"].line-numbers.line-numbers code {
      padding-left: 3.8em; }

    pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
      left: 0; }

    /* Plugin styles: Line Highlight */
    pre[class*="language-"][data-line] {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0; }

    pre[data-line] code {
      position: relative;
      padding-left: 4em; }

    pre .line-highlight {
      margin-top: 0; }

    div.code-toolbar {
      position: relative; }

    div.code-toolbar > .toolbar {
      position: absolute;
      top: .3em;
      right: .2em;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      opacity: 0; }

    div.code-toolbar:hover > .toolbar {
      opacity: 1; }

    div.code-toolbar > .toolbar .toolbar-item {
      display: inline-block; }

    div.code-toolbar > .toolbar a {
      cursor: pointer; }

    div.code-toolbar > .toolbar button {
      background: none;
      border: 0;
      color: inherit;
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
      -webkit-user-select: none;
      /* for button */
      -moz-user-select: none;
      -ms-user-select: none; }

    div.code-toolbar > .toolbar a,
    div.code-toolbar > .toolbar button,
    div.code-toolbar > .toolbar span {
      /* color: #bbb;
      font-size: .8em;
      padding: 0 .5em;
      background: #f5f2f0;
      background: rgba(224, 224, 224, 0.2);
      box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
      border-radius: .5em; */ }

    div.code-toolbar > .toolbar a:hover,
    div.code-toolbar > .toolbar a:focus,
    div.code-toolbar > .toolbar button:hover,
    div.code-toolbar > .toolbar button:focus,
    div.code-toolbar > .toolbar span:hover,
    div.code-toolbar > .toolbar span:focus {
      text-decoration: none; }

    pre[class*="language-"] > code {
      margin: 0 0 1rem;
      padding: 1.5rem;
      border-left: 0;
      border-radius: 4px;
      background: #f3f5f6;
      -webkit-box-shadow: 0 0 0 1px #dfdfdf;
      box-shadow: 0 0 0 1px #dfdfdf; }

    code[class*="language-"],
    pre[class*="language-"] {
      position: relative;
      color: #5c5c5c;
      font-family: Inconsolata, "Roboto Mono", Consolas, Menlo, Monaco, "Ubuntu Mono", "DejaVu Sans Mono", monospace;
      font-weight: normal; }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
      margin-top: 0;
      margin-bottom: 0; }

    pre[class*="language-"]::before,
    pre[class*="language-"]::after {
      display: none; }

    pre[class*="language-"] > code {
      margin: 0 0 2rem;
      padding-top: 3rem;
      border-left: 0;
      background-image: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

    .prism-show-language {
      margin-bottom: 0.75rem;
      font-size: 0.889rem; }

    .clipboard-copy {
      display: none; }

    div.code-toolbar > .toolbar {
      position: absolute;
      top: 0rem;
      width: 100%;
      font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
      font-size: 1rem;
      opacity: 1;
      z-index: 1; }
      div.code-toolbar > .toolbar a {
        padding: 0.375rem 0.625rem;
        text-decoration: none; }
      div.code-toolbar > .toolbar .toolbar-item:first-of-type {
        position: absolute;
        top: 0.75rem;
        left: 1.75rem;
        color: #8f8f8f;
        font-size: .875em;
        letter-spacing: .08em;
        text-transform: uppercase;
        -webkit-box-shadow: none;
        box-shadow: none; }
      div.code-toolbar > .toolbar .toolbar-item:nth-of-type(2) {
        display: none;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: .2em;
        -webkit-transition: opacity 0.08s ease;
        transition: opacity 0.08s ease;
        border-radius: 3px;
        background: #fff;
        font-size: .8em;
        -webkit-box-shadow: 0 2px 0 0 #b9c4ca;
        box-shadow: 0 2px 0 0 #b9c4ca;
        opacity: .6; }
        @media screen and (min-width: 1024px) {
          div.code-toolbar > .toolbar .toolbar-item:nth-of-type(2) {
            display: block; } }
        div.code-toolbar > .toolbar .toolbar-item:nth-of-type(2):hover {
          opacity: 1; }

    .language-name {
      display: none; }

  </style>
</head>
<!-- /page.head -->