{% include "_pages.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/details/_macro.details.njk" import componentDetails %}

<!-- template.logged-out -->
<body>
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeader({
      "homepageUrl": "index.html",
      "expandedLogo": true,
      "classes": "relative z-40",
      "navigation": {
        "classes": "hidden md:block",
        "items": [
        {
          "text": "Inicio",
          "href": "index.html"
        },
        {
          "text": "Componentes",
          "href": "componentes.html"
        },
        {
          "text": "Páginas",
          "href": "paginas.html"
        }],
        "attributes": {
          "aria-label": "Navegación principal"
        }
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      }
    }) %}
      <h3 class="p-base text-base font-bold">Páginas</h3>
      {{ componentNav({
        "items": [
        {
          "text": "Inicio",
          "href": "index.html"
        },
        {
          "text": "Componentes",
          "href": "componentes.html"
        },
        {
          "text": "Páginas",
          "href": "paginas.html"
        }],
        "attributes": {
          "aria-label": "Navegación principal"
        }
      }) }}
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
    {% endblock %}
    <!-- /contentBlock -->
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "_pages.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
  {% endblock %}
  <!-- /modalBlock -->
{% include "_pages.foot.njk" %}
