{% include "_pages.head.njk" %}

{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "_macro.example-render.njk" import exampleRender %}


<!-- template.logged-out -->
<body>
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeader({
      "homepageUrl": "index.html",
      "expandedLogo": true,
      "classes": "relative z-40",
      "navigation": {
        "classes": "hidden md:block",
        "items": [
        {
          "text": "Inicio",
          "href": "index.html"
        },
        {
          "text": "Componentes",
          "href": "componentes.html"
        },
        {
          "text": "Páginas",
          "href": "paginas.html"
        }],
        "attributes": {
          "aria-label": "Navegación principal"
        }
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      }
    }) %}
      <h3 class="p-base text-base font-bold">Páginas</h3>
      {{ componentNav({
        "items": [
        {
          "text": "Inicio",
          "href": "index.html"
        },
        {
          "text": "Componentes",
          "href": "componentes.html"
        },
        {
          "text": "Páginas",
          "href": "paginas.html"
        }],
        "attributes": {
          "aria-label": "Navegación principal"
        }
      }) }}
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->
  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->
  <main id="content" class="relative container mx-auto px-base">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->
    <!-- contentBlock -->
    {% block contentBlock %}
    {% endblock %}
    <!-- /contentBlock -->
    {{ exampleRender({
      data: exampleData
    }) }}
    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
  </main>
  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "_pages.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->
  <!-- modalBlock -->
  {% block modalBlock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-yaml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-twig.min.js"></script>
    <script type="text/javascript">
      // Optional
      Prism.plugins.NormalizeWhitespace.setDefaults({
      'remove-trailing': true,
      'remove-indent': true,
      'left-trim': true,
      'right-trim': true,
      /*'break-lines': 80,
      'indent': 2,
      'remove-initial-line-feed': false,
      'tabs-to-spaces': 4,
      'spaces-to-tabs': 4*/
    });
    </script>
  {% endblock %}
  <!-- /modalBlock -->
{% include "_pages.foot.njk" %}
